{% block file_upload_hidden_widget %}
    {% spaceless %}
        <div class="control-group" container-for="{{ unique_key }}">
            {{ form_label(form) }}
            <div class="controls">
                <span image-role="container_{{ form.vars.id }}_{{ unique_key }}">
                {% if form.vars.value is not null and form.vars.value != "" %}
                    {% if imagine_filter %}
                        <img src="{{ form.vars.value|imagine_filter(imagine_filter) }}" />
                    {% else %}
                        <img src="{{ form.vars.value }}" />
                    {% endif %}

                {% endif %}
                </span>

                {% include 'ZmcImageBundle::form_modal.html.twig' with {'id': form.vars.id, 'unique_key': unique_key} only %}

                {{ form_widget(form) }}
                <a class="btn btn-primary" image-role="call-form-{{ form.vars.id }}" image-destination="{{ form.vars.id }}">{{ 'image_upload.btn.change'|trans }}</a>
            </div>
        </div>

        <script src="{{ asset('bundles/zmcimage/js/uploader.js') }}"></script>
        <script>
            var upload = new ImageUploader('{{ unique_key }}', '{{ form.vars.id }}', '{{ path('zmc_image_index') }}', {{ allow_crop ? 1 : 0 }}, '{{ allow_crop ? path('zmc_image_crop') : '' }}');
        </script>
    {% endspaceless %}
{% endblock %}